<body>
  <div>
    <h1>Booyakasha!</h1>
  </div>
  <h3>This is meh websaight about how me don't believe in teck-mology.</h3>
  <br>

  <div id="main">
    <img src="http://25.media.tumblr.com/tumblr_mecyx6kwiv1r1kwjdo1_400.jpg">
    <form action='/cool_url' method='get'>
      <input type="submit" value="click here to go to cool_url">
    </form>
 <!--    <br>
    <br>
    <br> -->
    <form action="/cool_url" method="post">
      Enter some text to submit to cool_url:
      <input type="text" name="user_input">
      <br>
      <textarea cols="20" rows="5" wrap=virtual name="longtext">Enter some text here</textarea>
      Enter some shit here:
      <input type="text" name="post[title]">
      Enter moar shit
      <input type="text" name="post[price]">
      <textarea name="post[description]"></textarea>
      <input type="submit">
    </form>
  </div>
</body>